<mat-toolbar>
    <span><a (click)="navigate('home')" style="cursor: default;">Impacto Manager</a></span>
    <div class="button-config">
        <button mat-button style="border-radius: 50px" color="primary" (click)="navigate('aluno-list')" >
            Aluno
        </button>
        <button mat-button style="border-radius: 50px" color="primary" >
            Professor
        </button>
        <button mat-button style="border-radius: 50px" color="primary">
            Turma
        </button>
    </div>
</mat-toolbar>
